*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD6A5;
    border-radius: 20px ;

    padding: 20px;



}
